.event__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #7A6263;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event__list-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #7A6263;
}

.event__list-item h2 {
  margin-top: 2px;
  font-size: 1rem;
  color: rgb(146, 143, 143);
}

.event__list-item p {
  margin: 0;
}