.events-control {
  text-align: center;
  border: 1px solid #7A6263;
  padding: 1rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .events-control {
    width: 60rem;
    margin: 2rem auto;
  }
}


